@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #4A4A4A;
  background-color: #F3F7FA;
}

.app {
  width: 960px;
  padding: 50px 103px;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: center;
  }

  .main {
    display: flex;
    column-gap: 20px;
  }

}

