@import "./src/variable";

.filter {
  width: 232px;
  padding: 20px 0 10px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);

  .header {
    margin-bottom: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    padding: 0 20px;
  }

  .label {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    column-gap: 10px;
    cursor: pointer;

    position: relative;
  }

  .label:hover {
    background-color: $focusColor;
  }

  .label:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #9ABBCE;
    border-radius: 2px;
  }

  .label:active.label:after {
    display: block;
    content: '';
    width: 12px;
    height: 8px;
    background: no-repeat url("Shape.svg");

    position: absolute;
    top: 16px;
    left: 24px;
  }

  .label:active.label:before {
    border: 1px solid $activeColor;
  }

  .checkbox {
    display: none;
  }
}

.tabs {
  border-radius: 5px;
  border: 1px solid #DFE5EC;
  overflow: hidden;

  .btn {
    padding: 15px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    background-color: white;
  }
  .btn:not(:first-child,:last-child) {
    border-right: 1px solid #DFE5EC;
    border-left: 1px solid #DFE5EC;
  }
}

.btn {
  border-radius: 5px;
  background-color: $activeColor;
}